* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.boton {
    background: red;
    color: white;
    font-size: 20px;
    display: block;
    margin: 20px auto;
    padding: 20px 0;
    width: 150px;
    text-align: center;
    text-decoration: none;
}