* {
    margin: 0;
}

body > * {
    margin: 1rem;
    background: black;
    color: white;
}

h1 {
    background: blue;
    color: white;
    width: 16rem;
}

h2 {
    background: red;
    color: white;
    width: 20rem;
}

h3 {
    background: green;
    color: white;
    width: 24rem;
}

p {
    width: auto;
}

.div {
    background: gray;
    color: black;
    margin: 0px;
    padding: 10px 0;
    width: 100vw;
}

.inline-objects {
    background: white;
    display: inline-block;
    position: relative;
    left: 10%;
    width: 80%;
    margin: 1rem auto;
    align-items: center;
}

span {
    color: black;
}

img {
    width: 300px;
    border: 5px solid greenyellow;
    border-radius: 5px;
    background: black;
    padding: 5px;
    height: 100%;
}

a {
    width: 500px;           /* Por mucho que se modifique esto, no cambia el width*/
    border: 5px solid greenyellow;
    border-radius: 5px;
    background: black;
    padding: 5px;
    height: 100%;
    color: white;
}

button {
    width: 100px;
    border: 5px solid greenyellow;
    border-radius: 5px;
    background: black;
    padding: 5px;
    height: 100%;
    color: white;
}

ul {
    padding: 2rem;
}

ol {
    padding: 1rem 5rem;
}

li {
    background: gray;
    color: white;
    margin: 3px;
}
